<div class="type-dropdown">
    <app-button nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="menu"
              [icon]="selectedIssueTypeIcon"
              [iconSize]="20"
              [className]="'btn-empty font-semibold uppercase text-textMedium text-13'">
        {{ issue.sample }}-{{issue.id}}
    </app-button>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu
        nzNoAnimation>
        <ng-container *ngFor="let option of issueTypes">
            <li nz-menu-item
                *ngIf="!isTypeSelected(option.value)"
                (click)="updateIssue(option.value)">
                <div class="flex items-center">
                    <app-svg-icon [name]="option.icon"
                              [size]="20">
                    </app-svg-icon>
                    <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ option.value }}</span>
                </div>
            </li>
        </ng-container>
    </ul>
</nz-dropdown-menu>
