@import "ng-zorro-antd/style/index.min.css";
@import "ng-zorro-antd/tooltip/style/index.min.css";
@import "ng-zorro-antd/spin/style/index.min.css";
@import "ng-zorro-antd/modal/style/index.min.css";
@import "ng-zorro-antd/dropdown/style/index.min.css";
@import "ng-zorro-antd/select/style/index.min.css";
@import "ng-zorro-antd/drawer/style/index.min.css";
@import "ng-zorro-antd/notification/style/index.min.css";
@import "ng-zorro-antd/popover/style/index.min.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.pre-bootstrapping-container {
    @apply w-full h-full relative;
    .pre-bootstrapping-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.theme-dark {
    h6 > strong {
        @apply text-white;
        background-color: #111b27;
    }
}

.theme-light {
    h6 > strong {
        @apply text-black;
        background-color: #e3eaf2;
    }
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
      border-color 200ms ease-in-out, fill 200ms ease-in-out, stroke 200ms ease-in-out;
  }
*::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dedede;
}
